<a href="https://colab.research.google.com/github/Arditata/King_County_Housing_Price_Prediction/blob/main/.ipynb_checkpoints/Cierra%20stuff-checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd = Mengimpor library pandas dengan alias pd, yang digunakan untuk analisis dan manipulasi data.
import numpy as np =  Mengimpor library numpy dengan alias np, yang digunakan untuk operasi matematika dan manipulasi array.
import matplotlib.pyplot as plt =  Mengimpor modul pyplot dari library matplotlib dengan alias plt, yang digunakan untuk membuat visualisasi data.
import seaborn as sns = Mengimpor library seaborn dengan alias sns, yang digunakan untuk membuat visualisasi data statistik yang lebih menarik.
plt.style.use('seaborn') = Mengatur gaya visualisasi matplotlib menjadi gaya seaborn untuk visualisasi yang lebih estetis.
import os =  Mengimpor modul os, yang digunakan untuk berinteraksi dengan sistem operasi, seperti mengakses file atau direktori.

In [ ]:
import src.tools as tl = Mengimpor modul tools dari package src menggunakan alias tl.

In [ ]:
##list files from data folder

!ls data = Ini adalah perintah shell yang digunakan di dalam notebook Jupyter untuk menampilkan daftar file yang ada dalam folder data.

bom.movie_gross.csv.gz       imdb.title.ratings.csv.gz
imdb.name.basics.csv.gz      rt.movie_info.tsv.gz
imdb.title.akas.csv.gz       rt.reviews.tsv.gz
imdb.title.basics.csv.gz     tmdb.movies.csv.gz
imdb.title.crew.csv.gz       tn.movie_budgets.csv.gz
imdb.title.principals.csv.gz

In [ ]:
df1 = pd.read_csv('data/imdb.name.basics.csv.gz')
df2 = pd.read_csv('data/bom.movie_gross.csv.gz')
df3 = pd.read_csv('data/imdb.title.akas.csv.gz')
df4 = pd.read_csv('data/imdb.title.basics.csv.gz')
df5 = pd.read_csv('data/imdb.title.principals.csv.gz')
df6 = pd.read_csv('data/imdb.title.ratings.csv.gz')
df9 = pd.read_csv('data/tmdb.movies.csv.gz')
df10 = pd.read_csv('data/tn.movie_budgets.csv.gz')


df7 = pd.read_csv('data/rt.reviews.tsv.gz', delimiter='\t', encoding='windows-1254')
df8 = pd.read_csv('data/rt.movie_info.tsv.gz', delimiter='\t', encoding='windows-1254')
PENJELASAN = Membaca file CSV 'imdb.name.basics.csv.gz' yang terkompresi dari folder data dan memuatnya ke dalam DataFrame df1.
Pengumpulan Data: Terjadi di sel-sel 4, di mana data dibaca dari file-file CSV yang berada dalam folder data.

In [ ]:
df1.head() = Menampilkan beberapa baris pertama dari DataFrame df1. Ini membantu untuk memeriksa struktur dan isi data.
Eksplorasi Data: Dilakukan di sel-sel 5 dan 6 dengan menampilkan beberapa baris pertama dari DataFrame untuk memahami struktur dan isi data.

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [ ]:
df2.head() = Menampilkan beberapa baris pertama dari DataFrame df2.
Eksplorasi Data: Dilakukan di sel-sel 5 dan 6 dengan menampilkan beberapa baris pertama dari DataFrame untuk memahami struktur dan isi data.

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [ ]:
## to read tsv files
# df = pd.read_csv('data/rt.movie_info.tsv.gz', delimiter='\t', encoding='windows-1254') =ni adalah contoh kode untuk membaca file TSV yang dijelaskan dengan komentar. Namun, tidak ada eksekusi kode dalam sel ini.